<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>JCUConnect</title>
</head>
<body>
<div class="menuBar">
    <img class="logo" src="../static/images/circle.png" height="" width="" alt="JCUConnect Logo">
    <img src="../static/images/text.png" height="" width="" alt="JCUConnect text">
    <a>Home</a>
    <a>Jobs</a>
    <a>Contact Us</a>
    <a href="initializeAccount.html"><button class="initializeAccount">Sign In</button></a>
    <a href="initializeAccount2.html"><button class="initializeAccount2">Sign Up</button></a>
</div>
<div class="menuImage">
    <img src="../static/images/buildings.jpg" height="" width="" alt="Picture of buildings" style = width:100%>
    <div class="textOnImage">It is a short path from education to career but a long journey. Let us be the bridge to
        reach your perfect destination.</div>
</div>
<img class="homeImage" src="../static/images/JY%20Group.jpg" height="" width="" alt="JY Group icon">
<div class="homeDiv">
    <h3>JY Group</h3>
    <p>Our Sales and Marketing Support is different from the rest! We are able to provide you with constant supply
        of Quality Sales Leads/Sales Appointments/Potential Clients to build your Sales Career. Being the pioneer and
        market leader in corporate tie-ups and event marketing, we have been supporting our staff in their sales
        prospects since 1999.</p>
</div>
<img class="homeImage" src="../static/images/Singapore%20Press%20Holdings.jpg" height="" width="" alt="Singapore Press Holdings">
<div class="homeDiv">
    <h3>Singapore Press Holdings</h3>
    <p>We are searching for a new team member who enjoys data driven conversations, delights in uncovering
        actionable insights and drives purposeful digital designs and campaigns. Like all team members, this person
        must be extremely detail oriented, with a curious mind and the drive to constantly challenge how data and
        technology can be integrated into a meaningful customer journey.</p>
</div>
<img class="homeImage" src="../static/images/Plano%20Pte%20Ltd.jpg" height="" width="">
<div class="homeDiv">
    <h3>Plano Pte Ltd</h3>
    <p>Do you have a passion for keeping children healthy and spending less time on their smartphones and devices? Plano
        is building a team of energetic and motivated community engagement executives. The successful candidates will be
        responsible for sharing plano with parents and other stakeholders and will work closely together with the
        recruitment coordinator to gain user engagement and traction.</p>
</div>
</body>
</html>