<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>JCUConnect</title>
</head>
<body>
<div class="navbar">
    <img class="logo" src="../static/images/jcuconnectlogo.png" height="71px" width="150px" alt="JCUConnect Logo">
    <a href="index.html">Home</a>
    <a href="">Jobs</a>
    <a href="">Contact Us</a>
    <a href="initializeAccount.html"><button class="initializeAccount">Sign In</button></a>
    <a href="initializeAccount2.html"><button class="initializeAccount2">Sign Up</button></a>
</div>

<div class="student">
    <p>Sign in as JCU Student</p>

    <form>
        <table width="477" border="0">
            <tbody>
            <tr>
                <td width="200">Email</td>
                <td width="399"><input type="email" size="50" name="Email Student" id="emailStudent"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" size="50" name="Password Student" id="passwordStudent"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <a href=""><button class="signinStudent">Sign In</button> </a>
</div>

<div class="employer">
    <p>Sign in as Employer</p>

    <form>
        <table width="477" border="0">
            <tbody>
            <tr>
                <td width="200">Email</td>
                <td width="399"><input type="email" size="50" name="Email Employer" id="emailEmployer"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" size="50" name="Password Employer" id="passwordEmployer"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <a href=""><button class="signinEmployer">Sign In</button></a>

</div>

</body>
</html>